bwa_idx="/ref/bwa_mm10/mm10.fasta"
linkerA="GGAATGTATAT"    #linkerA="GTTGGATCATAT"
linkerB="GGATAAGATAT"    #linkerB="GTTGGATCCGAT"
chrom_hg19="/mango/human.hg19.genome"
chrom_mm10="/mango/mouse.mm10.genome"
thread=6
short=1    #short reads (0 or 1), default=0 for reads >70bp. If the read length is about 20bp, set d=1
GENOME_LENGTH=1.87e9                #GENOME_LENGTH=3E9
#CHROM_SIZE_INFO="/ChIA-PET_Tool_V3/chromInfo/hg19.chromSize.txt"       
CHROM_SIZE_INFO="/ChIA-PET_Tool_V3/chromInfo/mouse.mm10.genome"
#CYTOBAND_DATA="/ChIA-PET_Tool_V3/chromInfo/hg19_cytoBandIdeo.txt"     
CYTOBAND_DATA="/ChIA-PET_Tool_V3/chromInfo/mm10_cytoBandIdeo.txt"
